<div class="container">
    <div class="holder-container">
        <app-categories-collection-holder [providersList]="providersList$ | async"
            (loadSlotsByProvider)="loadSlotsByProvider.emit($event)"></app-categories-collection-holder>
    </div>
    <div class="btn-container">
        <button type="button" class="btn">
            {{'header.see_more' | translate}}
            <span>
                <mat-icon svgIcon="dropdown"></mat-icon>
            </span>
        </button>
    </div>
</div>