<div class="container">
    <div class="tabs_wrapper">
        <img class="logo" src="https://crocobet.com/assets/icons/logo.svg" alt="logo">

        <ul class="tabs">
            <li class="tabs_list">
                <a class="tabs_list--item">
                    <img src="https://crocobet.com/assets/icons/layout/navigationMenu/sport.svg" alt="sports">
                    <p>{{'side_bar.sport' | translate}}</p>
                </a>
            </li>
            <li class="tabs_list">
                <a class="tabs_list--item">
                    <img src="https://crocobet.com/assets/icons/layout/navigationMenu/live.svg" alt="live">
                    <p>{{'side_bar.live' | translate}}</p>
                </a>
            </li>
            <li class="tabs_list">
                <a class="tabs_list--item">
                    <img src="https://crocobet.com/assets/icons/layout/navigationMenu/slots.svg" alt="slots">
                    <p>{{'side_bar.slots' | translate}}</p>
                </a>
            </li>
            <li class="tabs_list">
                <a class="tabs_list--item">
                    <img src="https://crocobet.com/assets/icons/layout/navigationMenu/casino.svg" alt="casino">
                    <p>{{'side_bar.casino' | translate}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>