<div class="container">
    <app-menu-bar></app-menu-bar>
    <div class="content">
        <div class="content_authorization-header">
            <app-authorization-header></app-authorization-header>
        </div>
    
        <div class="content_slider">
            <app-main-slider></app-main-slider>
        </div>
        <div class="content_header">
            <app-header></app-header>
        </div>
        <div class="content_collection">
            <app-collection></app-collection>
        </div>
    </div>
</div>