<div class="container">
    <div class="tabs_wrapper">
        <ul class="tabs">
            <li class="tabs_list">
                <img src="https://crocobet.com/assets/icons/features/slots/filters/top-slots.svg" alt="top">
                <span class="tabs_list--item">{{'header.top' | translate}}</span>
            </li>
            <li class="tabs_list">
                <img src="https://crocobet.com/assets/icons/features/slots/filters/top-slots.svg" alt="top">
                <span class="tabs_list--item">{{'header.favourites' | translate}}</span>
            </li>
            <li class="tabs_list">
                <img src="https://crocobet.com/assets/icons/features/slots/filters/new-games.svg" alt="top">
                <span class="tabs_list--item">{{'header.new' | translate}}</span>
            </li>
            <li class="tabs_list">
                <img src="https://crocobet.com/assets/icons/features/slots/filters/buy-bonus.svg" alt="top">
                <span class="tabs_list--item">{{'header.buy' | translate}}</span>
            </li>
            <li class="tabs_list">
                <img src="https://crocobet.com/assets/icons/features/slots/filters/top-slots.svg" alt="top">
                <span class="tabs_list--item">{{'header.history' | translate}}</span>
            </li>
        </ul>
    </div>
</div>